# Stop geo-replication session
- name: Stop the geo-rep session
  geo_rep:
     action: stop
     mastervol: "{{ gluster_features_georep_mastervol }}"
     slavevol: >
       "{{ gluster_features_georep_slavenodes[0] }}:{{ gluster_features_georep_slavevol }}"
     force: true
     georepuser: "{{ georepuser }}"
  run_once: true
  when: gluster_features_georep_slavenodes is defined

# Stop geo-replication session
- name: Stop the geo-rep session
  geo_rep:
     action: delete
     mastervol: "{{ gluster_features_georep_mastervol }}"
     slavevol: >
       "{{ gluster_features_georep_slavenodes[0] }}:{{ gluster_features_georep_slavevol }}"
     force: true
     georepuser: "{{ georepuser }}"
  run_once: true
  when: gluster_features_georep_slavenodes is defined
