---
# This playbook contains the steps needed to create a georep master session
# Run this only on the master node. By default first node
- name: Generate a common pem pub file
  shell: "gluster system:: execute gsec_create"
  delegate_to: "{{ gluster_features_georep_masternode }}"
  run_once: true

- name: Copy the generated public key to local
  fetch:
     src: /var/lib/glusterd/geo-replication/common_secret.pem.pub
     dest: "{{ georep_base_dir }}/{{ gluster_features_georep_mastervol }}_{{ gluster_features_georep_slavevol }}_common_secret.pem.pub"
     flat: yes
  delegate_to: "{{ gluster_features_georep_masternode }}"
  run_once: true

# Run this only on the slave nodes
- name: Create a new group
  group:
    name: "{{ gluster_features_georep_group | default('geogroup') }}"
    state: present
  delegate_to: "{{ item }}"
  with_items: "{{ gluster_features_georep_slavenodes }}"

- name: Create a new user
  user:
    name: "{{ georepuser }}"
    group: 'georep'       # We hardcode this on purpose
    generate_ssh_key: yes
  when: georepuser != "root"
  delegate_to: "{{ item }}"
  with_items: "{{ gluster_features_georep_slavenodes }}"

- name: Create the mountbroker-root directory
  file:
     path: /var/gluster-mountbroker
     state: directory
     mode: 0711
  delegate_to: "{{ item }}"
  with_items: "{{ gluster_features_georep_slavenodes }}"

# Run on one of the slave nodes
- name: Setup mount broker on one of the slaves
  block:
     - name: Copy the pem key to client
       copy:
         src: "{{ georep_base_dir }}/{{ gluster_features_georep_mastervol }}_{{ gluster_features_georep_slavevol }}_common_secret.pem.pub"
         dest: "/var/lib/glusterd/geo-replication/{{ gluster_features_georep_mastervol }}_{{ gluster_features_georep_slavevol }}_common_secret.pem.pub"
         mode: 0600

     - name: Setup mountbroker
       shell: >
         gluster-mountbroker setup /var/gluster-mountbroker {{ groupname }}
       when: georepuser != "root"

     - name: Add volume and user to mountbroker service
       shell: gluster-mountbroker add {{ gluster_features_georep_slavevol }} {{ georepuser }}
       when: georepuser != "root"

     - name: Copy pem keys
       shell: >
         gluster system:: copy file /geo-replication/"{{ gluster_features_georep_mastervol }}_{{ gluster_features_georep_slavevol }}_common_secret.pem.pub"

     - name: Add pem keys
       shell: >
         gluster system:: execute add_secret_pub {{ georepuser }} geo-replication/{{ gluster_features_georep_mastervol }}_{{ gluster_features_georep_slavevol }}_common_secret.pem.pub
  delegate_to: "{{ gluster_features_georep_slavenodes[0] }}"
  when: gluster_features_georep_slavenodes is defined
  run_once: true

# Restart glusterd on slavenodes
- name: Restart glusterd on slave nodes
  service: name=glusterd state=restarted
  delegate_to: "{{ item }}"
  loop: "{{ gluster_features_georep_slavenodes }}"
  run_once: true
  when: georepuser != "root" and gluster_features_georep_slavenodes is defined

# Enable geo-replication
- name: Create the geo-rep session
  geo_rep:
     action: create
     mastervol: "{{ gluster_features_georep_mastervol }}"
     slavevol: >
       "{{ gluster_features_georep_slavenodes[0] }}:{{ gluster_features_georep_slavevol }}"
     force: true
     georepuser: "{{ georepuser }}"
  run_once: true
  when: gluster_features_georep_slavenodes is defined

# Ensure to delete the temporary directory
- name: Delete the temporary directory
  file:
     state: absent
     path: "{{ georep_base_dir }}"
  delegate_to: 127.0.0.1
  run_once: True
