---
# Setup NFS Ganesha
- name: Setup NFS-Ganesha
  import_role:
    name: "gluster.features/roles/nfs_ganesha"
  when: >
    gluster_features_ganesha_haname is defined
  tags:
    - nfs_ganesha

# Setup a Hyperconverged Infrastructure
- name: Setup GlusterFS HCI
  import_role:
    name: "gluster.features/roles/gluster_hci"
  when: >
    gluster_features_hci_cluster is defined
  tags:
    - gluster_hci

# Setup CTDB
- name: Setup CTDB for GlusterFS
  import_role:
    name: "gluster.features/roles/ctdb"
  when: >
    gluster_features_ctdb_nodes is defined
  tags:
    - ctdb

# Setup Geo-Replication
# - name: Setup Geo-Replication
#   import_role:
#     name: "gluster.features/roles/geo_replication"
#   when: >
#     gluster_features_georep_mastervol is defined
#   tags:
#     - georeplication
